@(googleAnalyticsCode: Option[String])
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="sangria,scala,graphql,playframework,graphiql" />

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <title>Take a sip of Sangria with GraphiQL!</title>

    <link href="//cdn.jsdelivr.net/graphiql/0.10.1/graphiql.css" rel="stylesheet" />

    <script src="//cdn.jsdelivr.net/fetch/0.9.0/fetch.min.js"></script>
    <script src="//cdn.jsdelivr.net/react/15.5.4/react.min.js"></script>
    <script src="//cdn.jsdelivr.net/react/15.5.4/react-dom.min.js"></script>
    <script src="//cdn.jsdelivr.net/graphiql/0.10.1/graphiql.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <style>
      body {
        height: 100%;
        margin: 0;
        width: 100%;
        overflow: hidden;
      }

      #graphiql {
        height: 100vh;
      }
    </style>

    <script src="@routes.Assets.versioned("javascripts/app-graphiql.js")"></script>
  </head>

  <body>
    <div id="graphiql">Loading...</div>

    <script>
      renderGraphiql(document.getElementById('graphiql'))
    </script>

    @if(googleAnalyticsCode.isDefined) {
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '@googleAnalyticsCode.get', 'auto');
      ga('send', 'pageview');
      </script>
    }
  </body>
</html>