@(title: String, googleAnalyticsCode: Option[String])(content: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="sangria,scala,graphql,playframework" />

    <title>@title</title>

    <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    @content

    <section class="footer">
      <div class="container">
        <div class="blog-header">
          <p>
            This is just a small demonstration. It really gets interesting when you start to play with the schema on the server side. Fortunately it's
            pretty easy to do. <a href="https://github.com/sangria-graphql/sangria-playground" target="_blank">sangria-playground</a> is available on the
            <a href="https://github.com/sangria-graphql/sangria-playground" target="_blank">GitHub</a>, and since it's a simple Play application,
            all it takes to start playground locally and start playing with the schema is this:
          </p>

          <pre>$ git clone https://github.com/sangria-graphql/sangria-playground.git
$ cd sangria-playground
$ sbt run</pre>

          <p>
            Now you are ready to point your browser to <a href="http://localhost:9000" target="_blank">http://localhost:9000</a> to see the same page you are seeing here.
            The only prerequisites are <a href="http://www.scala-sbt.org/download.html" target="_blank">SBT</a> and <a href="http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html" target="_blank">Java 8</a>.
          </p>
        </div>
      </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="@routes.Assets.versioned("javascripts/jquery.hotkeys.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.history.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/URI.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/jquery.URI.min.js")"></script>

    <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("ace-editor/src-noconflict/ace.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@routes.Assets.versioned("javascripts/app.js")" type="text/javascript"></script>

    @if(googleAnalyticsCode.isDefined) {
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '@googleAnalyticsCode.get', 'auto');
        ga('send', 'pageview');
      </script>
    }
  </body>
</html>